In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [4]:
df.groupby('Item').sum().head(10).loc['Animal fats', ['Y2014','Y2017']]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [5]:
df.describe().loc[['mean', 'std'], ['Y2015']]

            Y2015
mean   135.235966
std   1603.403984

What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [6]:
total_missing = df.isnull().sum().sum()
print(df.isnull().sum()['Y2016'],
      df.isnull().sum()['Y2016']/total_missing)

1535 0.20160231153138955

Which year had the highest correlation with ‘Element Code’?

In [7]:
df.corr().loc['Element Code', ['Y2014','Y2015',
                              'Y2016','Y2017',
                              'Y2018']].sort_values()

Y2016    0.023444
Y2015    0.023889
Y2017    0.024254
Y2018    0.024279
Y2014    0.024457
Name: Element Code, dtype: float64

What is the total number of the sum of Production in 2014?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [8]:
df.groupby('Element').sum().loc['Production', ['Y2014','Y2015',
                                              'Y2016','Y2017',
                                              'Y2018']]

Y2014    1931287.75
Y2015    1947019.39
Y2016    1943537.15
Y2017    2030056.89
Y2018    2075072.89
Name: Production, dtype: float64


What year has the highest sum of Import Quantity?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [9]:
df.groupby('Element').sum().loc['Import Quantity', ['Y2014','Y2015',
                                                      'Y2016','Y2017',
                                                      'Y2018']]

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the

In [10]:
df.groupby('Element')['Y2018'].sum().sort_values()

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

What is the total Import Quantity in Algeria in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [11]:
df.groupby(['Area','Element'])['Y2018'].sum().loc['Algeria',:]

Area     Element
Algeria  Domestic supply quantity                  90023.42
         Export Quantity                             811.54
         Fat supply quantity (g/capita/day)          309.09
         Feed                                      10668.00
         Food                                      63736.33
         Food supply (kcal/capita/day)             13288.00
         Food supply quantity (kg/capita/yr)        1509.28
         Import Quantity                           36238.29
         Losses                                     7708.00
         Other uses (non-food)                      3970.08
         Processing                                 2479.00
         Production                                60766.67
         Protein supply quantity (g/capita/day)      367.28
         Residuals                                   630.00
         Seed                                        825.00
         Stock Variation                            6172.00
         Total Population - Both sexes             42228.00
Name: Y2018, dtype: float64

What is the total number of unique countries in the dataset?

In [12]:
df.Area.nunique()

49