<a href="https://colab.research.google.com/github/DorcasOJ/hamoye-internship/blob/main/hamoye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd drive/MyDrive/Datasets/Hamoye_internship/

/content/drive/MyDrive/Datasets/Hamoye_internship

In [ ]:
%ls

energydata_complete.csv

In [49]:
import pandas as pd, numpy as np
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

In [36]:
df = pd.read_csv('energydata_complete.csv')
data = df.copy()

In [37]:
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [38]:
#df_date = pd.to_datetime(df['date'])
#df['year'] = df_date.dt.year
#df['month'] = df_date.dt.month
#df['day'] = df_date.dt.day
#df['hour'] = df_date.dt.hour
#df['minute'] = df_date.dt.minute

In [39]:
df.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [40]:
# independent and dependent variable
target = df['Appliances']
df = df.drop(columns=['date', 'lights', 'Appliances'])

In [41]:
# normalise using minmax scaling
scale = MinMaxScaler()
norm_df = pd.DataFrame(scale.fit_transform(df), columns= df.columns)

In [42]:
# normalised data
norm_df.head()

        T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0  0.32735  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1  0.32735  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2  0.32735  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3  0.32735  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4  0.32735  0.531419  0.225345  ...   0.520362  0.201611  0.201611

[5 rows x 26 columns]

In [43]:
xtrain, xtest, ytrain, ytest = train_test_split(norm_df, target, test_size=0.3, random_state= 42)

In [44]:
xtrain.shape, ytrain.shape, xtest.shape, ytest.shape

((13814, 26), (13814,), (5921, 26), (5921,))

In [45]:
#modelling
model = LinearRegression()
model.fit(xtrain, ytrain)
predicted = model.predict(xtest)

In [46]:
# first model mean absolute error
mae = mean_absolute_error(ytest, predicted)

In [47]:
print(round(mae, 2))

53.64

In [48]:
# Residual sum of square
rss = np.sum(np.square(ytest, predicted))
print(round(rss, 2))

117425400.0

In [50]:
# root mean squared error
rmse = np.sqrt(mean_squared_error(ytest, predicted))
print(round(rmse, 2))

60919.5

In [51]:
#Coefficient of Determination
cod = r2_score(ytest, predicted)
print(round(cod, 2))

-360216.57

In [53]:
#  question 12 & 13

x = pd.DataFrame(data['T2'])
y = data['T6']
model2 = LinearRegression()
model2.fit(x, y)
pred = model2.predict(x)
r2 = r2_score(y, pred)
print(round(r2, 2))

0.64

In [67]:
# lasso
from sklearn.linear_model import Lasso
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(xtrain, ytrain)
lasso_pred = lasso_model.predict(xtest)

In [68]:
# lasso root mean squared error
ridge_rmse = np.sqrt(mean_squared_error(ytest, lasso_pred))
print(round(rmse, 2))

60919.5

In [64]:
# ridge
from sklearn.linear_model import Ridge
ridge_model = Ridge(alpha=0.4)
ridge_model.fit(xtrain, ytrain)
ridge_pred = ridge_model.predict(xtest)

In [66]:
# ridge root mean squared error
ridge_rmse = np.sqrt(mean_squared_error(ytest, ridge_pred))
print(round(rmse, 2))

60919.5

In [57]:
# get weights
def get_w_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    w_df = pd.DataFrame(weights).reset_index()
    w_df.columns = ['features', col_name]
    w_df[col_name].round(3)
    return w_df

In [62]:

model_weights = get_w_df(model, xtrain, 'Linear Model Weight')
ridge_weights = get_w_df(ridge_model, xtrain, 'Ridge Model Weight')
lasso_weights = get_w_df(lasso_model, xtrain, 'Lasso Model Weight')

In [ ]:
# merging all weights
all_weights = pd.merge(model_weights, ridge_weights, on='features')
all_weights = pd.merge(all_weights, lasso_weights, on='features')

In [63]:
all_weights

       features  Linear Model Weight  Ridge Model Weight  Lasso Model Weight
0          RH_2          -488.666805         -439.846215         -484.565333
1         T_out          -344.389845         -280.524329         -332.571693
2            T2          -252.710373         -215.494498         -249.468798
3            T9          -203.236627         -202.140437         -202.502545
4          RH_8          -168.627161         -167.808155         -168.695476
5        RH_out           -83.107599          -58.554305          -78.000385
6          RH_7           -47.736592          -49.195346          -47.389094
7          RH_9           -42.586339          -44.262196          -42.455100
8            T5           -16.752822          -21.242949          -17.118723
9            T1            -3.510725          -19.694643           -4.147124
10          rv1             0.824005            0.800539            1.631174
11          rv2             0.824005            0.800539            0.000000
12  Press_mm_hg             7.318079            7.044746            7.282154
13           T7            11.041091           10.804661           10.346809
14   Visibility            13.168072           12.921845           13.078319
15         RH_5            17.126194           17.283031           17.103321
16         RH_4            28.232781           26.299028           27.445905
17           T4            31.009668           29.300760           30.345197
18    Windspeed            31.225948           32.386349           31.389514
19         RH_6            40.712058           38.004925           40.092883
20         RH_3           102.771652          101.794021          102.204611
21           T8           109.134698          108.100118          108.883423
22    Tdewpoint           126.000776           88.946505          118.598030
23           T6           252.974652          232.502206          250.080979
24           T3           310.971037          308.252882          310.210384
25         RH_1           592.294862          555.892068          590.599827